server:
  port: "${IS_SERVICE_PORT}"

spring:
  main:
    banner-mode: "off"
  datasource:
    own:
      username: ${CONTAINER.USERNAME}
      password: ${CONTAINER.PASSWORD}
      url: ${CONTAINER.URL}
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: "update"
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      hibernate:
        '[jdbc.batch_size]': 100
        '[order_inserts]': true
        '[order_updates]': true
        '[jdbc.batch_versioned_data]': true
        # Оптимизация для массовой вставки
        '[cache.use_second_level_cache]': false
        '[cache.use_query_cache]': false
        '[jdbc.fetch_size]': 1000
      jakarta:
        persistence:
          validation:
            mode: "auto"
  servlet:
    multipart:
      max-file-size: 250MB
      max-request-size: 250MB
  mvc:
    pathmatch:
      matching-strategy: "ant_path_matcher"

bloom-filter:
  expected-insertions: 5000000
  false-positive-probability: 0.000001

batch-properties:
  batch-size: 10000
  max-record-number_for_rebuild_bloom_filter: 1000
